<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-6">
                <hr class="light">
                <h2>Contact</h2>
                <hr class="light">
                <p>555-555-5555</p>
                <p>email@email.com</p>
                <p>100 Philly Ave</p>
                <p>Philly, PA, 11111</p>
            </div>
            <div class="col-md-6">
                <hr class="light">
                <h2>Our Hours</h5>
                    <hr class="light">
                    <p>M-F: 9AM - 5PM</p>
                    <p>Sat: 10AM - 2PM</p>
                    <p>Sun: Closed</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; helpinghands.com</h5>
            </div>
        </div>
    </div>
</footer>