{{> header }}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center"> Register Here!</h1>
            <!--Step 1:Adding HTML-->
            <button class="signup-btn" onclick="document.getElementById('id01').style.display='block'"
                style="width:auto;">Sign
                Up</button>

            <div id="id01" class="modal">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">×</span>
                <form class="modal-content animate">
                    <div class="container">
                        <label><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" id="email-input" name="email" required>

                        <label><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" id="password-input" name="psw" required>

                        {{!-- <label><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
                        <input type="checkbox"> Remember me
                        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p> --}}

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                class="cancelbtn">Cancel</button>
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Sign Up Form</h2>
                <form class="login" style="background-color:gray;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email-input" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password-input" placeholder="Password">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{{> footer }}